.text-justify {
  text-align: justify;
}

.img-card {
  object-fit: contain;
  width: 100%;
}

.extend {
  width: 5rem;
}

.btn-outline-secondary {
  color: grey;
  border-color: grey;
}

.btn-outline-secondary:hover {
  color: grey;
  border-color: grey;
}